# Fix for grpc build error on macOS.
# See: https://github.com/bazelbuild/bazel/issues/4341
build --copt=-DGRPC_BAZEL_BUILD
# Minumum C++ version. Override it building this project with
# `bazel build --cxxopt='-std=c++<XY>' ...`
build --cxxopt='-std=c++14'
